@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding:  0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* scrollbar-color: white; */
}

body{
    min-height: 100vh;
    background: green;
    background: url(image_2.jpeg);
    background-size: cover;
    background-position: center;

}

.body_1{
    height: 85vh;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background:red ;
    padding: 2em;
    color: #fff;
    background: transparent;
    /* backdrop-filter: blur(100px); */
    box-shadow: 0 5px 10px rgba(39, 20, 20, 0.4);
}

header .socail-icons i{
    font-size: 1.3em;
    margin-left: 15px;
}

/* header .header-title{
    background-color: red;
} */
header .header-title span{
    margin:  0 65px;
    /* background-color: blue; */
}

header p:hover , i:hover{
    cursor: pointer;
}

footer{
    width: 100%;
    height: 10px;
    margin-bottom:80px;
    margin-left: 20px;
}

footer a{
    font-weight: 600;
    text-decoration: none;
    color: #fff;
    position: absolute;
    left: 20px;
    bottom: 7px;
}
header .header-title{
    font-size: 1.1em;
    font-weight: 500;
}
/* header{
    width: 100%;
    height: 50px;
    position: relative;
    padding: 0 2em;
    background-color:rgba(242, 238, 242, 0.1);
} */


/* .navbar{ */
    /* background: rgba(0, 0, 0, 0.308); */
    /* background: red; */
    /* width: 100%;mohcine hahoza mochkil */
    /* display: flex; */
    /* padding: 0 15px; */
    /* align-items: center; */
    /* justify-content: space-between; */
    /* transition: background-color 0.4s ease-in-out; */
/* } */


/* .navbar .logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #63c7b2; */
    /* border-bottom: #fff; */
/* } */


.wrap{
    width: 420px;
    background:transparent;
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    border: 2px solid rgba(255,255,255,0.2);
    /* hdi kadir lih chafafiya */
    backdrop-filter: blur(20px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.wrap h1{
    font-size: 36px;
    text-align: center;
}

.wrap .input-box{
    position: relative;
   width: 100%;
   height: 50px;
   /* background: salmon;  */
   margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,0.2);
    border-radius: 40px;
    font-size: 1em;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrap .remeber-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}
.remeber-forgot label input{
    accent-color: #fff;
    margin-right: 4px ;
}

.remeber-forgot a{
    color: #fff;
    text-decoration: none; 
}

.remeber-forgot a:hover{
    /* hadi kadir lina 5ate mina kandire hiver 3lA elemrnt */
    text-decoration: underline; 
}

.wrap .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    font-size: 1em;
    color: #333;
    font-weight: 600;
    /* margin: 35px 5px 35px 5px; */
}

.wrap .register-link{
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}

 
/* responsive */

@media (max-width: 523px) {
    header .socail-icons{
        position: absolute;
        /* bottom: 1px; */
        right: 20px;
        bottom: 7px;
        /* bottom: ; */
    }
    header p{
        margin : 0 auto
    }
}